/* font declaration */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap");

/*common style or utility */
* {
  font-family: "Work Sans", sans-serif;
  align-items: center;
  margin: 0;
}
.button-primary {
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
  padding: 20px 25px;
}
.section-title {
  font-weight: 700;
  font-size: 35px;
  color: #131313;
}
.description {
  color: #727272;
  margin-top: 24px;
}
section {
  width: 80%;
}
/* nav and header section style  */

/* nav section style */
header {
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 85px;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 140px 100px 128px;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.nav-option {
  display: flex;
  gap: 20px;
}
.nav-option a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
/* header section style  */
.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.header-container {
  text-align: center;
  width: 60%;
  margin-bottom: -17px;
}
.header-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
  margin-bottom: 25px;
}

.header-img {
  width: 80%;
  margin-bottom: 45px;
}
.header-img img {
  width: 100%;
}

/* main section style  */
main {
  display: flex;
  flex-direction: column;

  gap: 130px;
}

/* quick-list section style  */
.quick-list-feature {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.quick-list-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  width: 45%;
}
.quick-list-img img {
  width: 100%;
}
.quick-list-container {
  width: 45%;
}
#quick-list-span {
  color: #727272;
}
#features-span {
  color: #ff900e;
}
.quick-list-container .description {

  margin-bottom: 32px;
}
/* feature you love & enjoy section  */
.feature-you-love {
  display: flex;
  align-items: center;
  gap: 54px;
}
.feature-you-love-container {
  width: 50%;
}
.vertical-line {
  border-left: 5px solid #ff900e;
  padding-left: 16px;
  margin-bottom: 24px;
}
.love-and-enjoy-list-container {
  margin-top: 30px;
}
.love-enjoy-list {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #86828240;
  margin-bottom: 20px;
}
.feature-you-love-img {
}
.feature-you-love-img img {
  width: 100%;
}

/* some fact section style  */
.some-facts-title-container {
  width: 35%;
  margin-bottom: 100px;
}
.some-facts-list-container {
  display: flex;
  justify-content: space-around;
}

.some-facts-list {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 45px 35px;
  text-align: center;
  width: 12%;
}

/* sponspors section style  */
.sponspors{
    display: flex;
    flex-direction: column;
}
.sponspors-title-container{
    text-align: center;
    margin-bottom: 50px;
    width: 500px;
}
.sponspors-list-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.sponspors-list-container img{
    width: 75%;
}
